# =========================
# Environment
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
venv/

# =========================
# Node / Frontend
# =========================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# =========================
# Editor / OS
# =========================
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?